################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RoofingLeadGeneration/bin/Debug/net8.0
/RoofingLeadGeneration/.vs/RoofingLeadGeneration
/RoofingLeadGeneration/obj
